[Unit]
Description=Clipboard manager daemon
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/copyq
Restart=always
RestartSec=10s

[Install]
WantedBy=sway-session.target
