[Unit]
Description=PipeWire Input Filter Chain
After=pipewire.service
BindsTo=pipewire.service

[Service]
ExecStart=/usr/bin/pipewire -c /home/pfault/.config/pipewire-mic-filter-chain
Type=simple
Restart=on-failure

[Install]
WantedBy=pipewire.service
