[Unit]
Description=Syncthing Tray
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/syncthingtray --wait
Restart=always
RestartSec=10s

[Install]
WantedBy=sway-session.target
