[Unit]
Description=USBGuard Applet
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/usbguard-applet-qt
Restart=always
RestartSec=10s

[Install]
WantedBy=sway-session.target
