[Unit]
Description=USBGuard Applet
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/usbguard-applet-qt
Restart=always
RestartSec=10s

[Install]
WantedBy=graphical-session.target
