[Unit]
Description=Periodically refresh list of outdated packages in waybar
PartOf=sway-session-target
After=sway-session.target

[Timer]
OnCalendar=00/1:15
Persistent=true

[Install]
WantedBy=timers.target
