#waybar {
    font-family: "Hack", Noto Sans, sans-serif;
    font-size: 12px;
}

#window {
    padding: 0 10px;
}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: rgba(217, 216, 216, 1);
    background: #1a1b26;
}

#workspaces {
    margin: 0 5px;
    font-size: 20px;
}

#workspaces button {
    padding: 0 8px;
    color: #a600a4;
    border: 3px solid rgba(0,0,0,0);
    border-width: 3px;
    border-radius: 5px;
    min-width: 33px;
}

#workspaces button.visible {
    color: #c600c4;
}

#workspaces button.focused {
    border-top: 3px solid #7aa2f7;
    border-bottom: 3px solid #7aa2f7;
    border-image: linear-gradient(-45deg, blue, red) 1;
    border-radius: 5px;
}

#workspaces button.urgent {
    background: #880080;
    color: #ff00bb;
}

#workspaces button:hover {
    box-shadow: inherit;
    background: #440040;
    border: 3px solid #a600a4;
    border-image: linear-gradient(-45deg, blue, red) 1;
    border-radius: 5px;
    color: #a600a4;
    text-shadow: none;
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
    color: #f106e3;
}
#workspaces button.focused:hover {
    color: #bb9af7;
}

#workspaces button.visible:hover {
    color: #a600a4;
}

#pulseaudio {
    /* font-size: 26px; */
}

#custom-recorder {
  font-size: 18px;
  margin: 2px 7px 0px 7px;
  color:#ee2e24;
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-media {
    margin: 0px 0px 0px 10px;
    padding: 0 5px;
    /* border-top: 3px solid rgba(217, 216, 216, 0.5); */
}

/* #clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
} */

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color: rgba(238, 46, 36, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}


#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink{
    to {
        background-color: #ffffff;
        color: black;
    }
}

@keyframes blink-warn {
    to {
        background-color: #ffffff;
        color: black;
    }
}

@keyframes blink-crit {
    to {
        background-color: #ff0000;
        color: black;
    }
}

#battery.warning.charging {
    color: white;
    animation-name: blink;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical.charging {
    color: white;
    animation-name: blink;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#battery.warning:not(.charging) {
    color: white;
    animation-name: blink-warn;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: white;
    animation-name: blink-crit;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
    background: red;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}
